<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Резюме</title>
	</head>
	<body>
		<p>
			<b>РЕЗЮМЕ. На должность Java-стажер.</b>
			<ul>ФИО: Иевлев Ярослав Михайлович</ul>
			<ul>Дата рождения: 07.08.1999 г.</ul>
			<ul>Номер телефона: моб. 8(903)337-19-02</ul>
			<ul>Email: slavaievlev9@gmail.com</ul>
			<ul>Skype: slavaievlev9@gmail.com</ul>
			<ul><b>Цель: </b>
			<li>Получение работы на должности java-стажер.</li>
			</ul>
			<ul><b>Опыт работы: </b>
			<li></li>
			</ul>
			<ul><b>Образование: </b>
			<li>Ульяновский государственный технический университет. Факультет информационных систем и технологий. Специальность Прикладная информатика. Студент 2 курса.</li>
			</ul>
			<ul><b>Дополнительное образование: </b>
			<li>Сертификат о прохождении курса "Летний интенсив 2018": Разработка приложения "Автоматизация врачебного кабинета</li>
			<li>Диплом 2 степени за успехи в научно-исследовательской работе и в выставке информационных продуктов НТТС-2018: Сайт на тему "Культура интернета в России и мире"</li>
			</ul>
			<ul><b>Навыки: </b>
			<li>Windows  (144 мес.)</li>
			<li>Java, C# (desktop)  (10 мес.)</li>
			<li>git, trello  (4 мес.)</li>
			<li>HTML, CSS (3 мес.)</li>
			</ul>
			<ul><b>Примеры кода: </b>
			<li><a href="https://github.com/slavaievlev">https://github.com/slavaievlev</a></li>
			</ul>
			<ul><image src="https://pp.userapi.com/c630724/v630724797/8a0e/UXOSOg7A5JI.jpg"width="340"></ul>
		</p>
	</body>
</html>
